---
layout: default
---
<!-- Style and javascript borrowed from worrydream.com, as it's my main inspiration for this kind of project -->
<style>
    * { margin:0; padding:0; }

    body {
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 50px;
        font: 14px "Palatino", "Book Antiqua", "Optima", "Arial", sans-serif;
        color: #666;
        font-weight: normal;
        text-align: left;
        line-height: 1.5;
        position:relative;
    }

    #search {
        width:150px;
        height:20px;
        background-color:#fcfcfc;
        outline: 1px solid #eee;
        focus:none;
        position:absolute;
        right:0;
        margin-top:12px;
        padding-left:3px;
    }

    #search:focus {
        background-color:#f0f0f0;
        outline: 1px solid #ddd;
    }


    .entry {
    }

    .source {
        margin-left: -15px;
        margin-top: 35px;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: normal;
        color: #000;
        font-weight:bold;
    }

    .title {
        color: #aaa;
        font-size: 13px;
        font-weight:normal;
        font-style: italic;
    }

    .quote {
        display:block;
    }

    .permalink {
        color: #bbb;
        position:absolute;
        padding-right:8px;
        margin-left:-12px;
        display:none;
    }

    .source:hover .permalink {
        display:block;
    }


    a { text-decoration:none; color: inherit; border:none; }
    a:hover   { text-decoration:none;  color: #933; }

    h1 {
        font-size: 30px;
        margin-top:15px;
        margin-left: -20px;
        font-weight: bold;
        color: #000;
        text-align: center;
    }

    h2 {
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: normal;
        color: #0a0;
        border-bottom: solid 1px #9f9;
    }

    h4 {
        margin-left: -20px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #0a0;
    }

    h5 {
        margin-left: -20px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: normal;
        color: #0a0;
    }


    h3 {
        color: #777;
        margin-left: -20px;
        margin-bottom: 20px;
        font-size: 10px;
        font-weight: normal;
    }

    ul, ol {
        margin-left:20px
    }

    li {
        margin-top:5px;
    }

    p {
        margin-top:10px;
        margin-bottom:10px;
    }

    strong {
        font-weight:bold;
        color: #0a0;
    }

    b {
        font-weight:bold;
        color: #111;
    }

    img { border:none; }



    .filter-tabs {
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: normal;
        color: #0a0;
        border-bottom: solid 1px #9f9;
        text-align: center;
        padding-bottom: 10px;
    }

    .tab-button {
        background: none;
        border: none;
        color: #666;
        cursor: pointer;
        font: 14px "Palatino", "Book Antiqua", "Optima", "Arial", sans-serif;
        margin: 0 10px;
        padding: 5px 10px;
        text-decoration: none;
    }

    .tab-button:hover {
        color: #933;
    }

    .tab-button.active {
        color: #0a0;
        font-weight: bold;
    }

    .favorites-list {
        margin-top: 20px;
    }

    .entry {
    }

    .source {
        margin-left: -15px;
        margin-top: 35px;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: normal;
        color: #000;
        font-weight:bold;
    }

    .title {
        color: #aaa;
        font-size: 13px;
        font-weight:normal;
        font-style: italic;
    }

    .quote {
        display:block;
    }

    .permalink {
        color: #bbb;
        position:absolute;
        padding-right:8px;
        margin-left:-12px;
        display:none;
    }

    .source:hover .permalink {
        display:block;
    }

</style>

<div id="search" contenteditable="true" oninput="searchChanged()"></div>
<div class="filter-tabs">
    <button class="tab-button active" onclick="filterItems('all')">All</button>
    <button class="tab-button" onclick="filterItems('quotes')">Quotes</button>
    <button class="tab-button" onclick="filterItems('videos')">Videos</button>
    <button class="tab-button" onclick="filterItems('comment')">Comments</button>
</div>

<div class="favorites-list">
    {% assign favorites = site.favorites | sort: 'date' | reverse %}
    {% for item in favorites %}
    <div id="{{ item.id }}" class="entry" data-author="{{ item.author }}">
        <div class="source">
            <a class="permalink" href="#{{ item.id }}">#</a>
            <a class="author" href="?author={{ item.author | url_encode }}">{{ item.author }}</a>
            <a href="{{ item.origin_url }}" class="title">: {{ item.origin }}</a>
        </div>
        <div class="quote">
            <a href="{{ item.origin_url }}"><p>{{ item.text }}</p></a>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function filterItems(category) {
        // Remove active class from all tabs
        document.querySelectorAll('.tab-button').forEach(tab => {
            tab.classList.remove('active');
        });

        // Add active class to clicked tab
        event.target.classList.add('active');

        // Get all favorite items
        const items = document.querySelectorAll('.favorite-item');

        items.forEach(item => {
            if (category === 'all') {
                item.classList.remove('hidden');
            } else {
                const itemType = item.getAttribute('data-type');
                if (itemType === category) {
                    item.classList.remove('hidden');
                } else {
                    item.classList.add('hidden');
                }
            }
        });
    }
    var queries = {};


    // init

    var queryString = window.location.search.substring(1);
    var queryComponents = queryString ? queryString.split(/&/) : [];
    queryComponents.forEach(function (c) {
        var pair = c.split(/=/,2);
        queries[pair[0]] = decodeURIComponent(pair[1] || "");
    });

    if (Object.keys(queries).length > 0) {
        document.styleSheets[0].insertRule(".entry { display:none; }");
    }

    function onload () {
        var authors = [].slice.call(document.querySelectorAll(".author"));
        authors.forEach(function (link) { link.onclick = authorClicked; });

        var toplinks = [].slice.call(document.querySelectorAll(".toplink"));
        toplinks.forEach(function (link) { link.onclick = toplinkClicked; });

        console.log(document.getElementById("search").innerText);
        console.log(queries);
        document.getElementById("search").textContent = queries["search"] || "";
        if (Object.keys(queries).length > 0) { updateSearch(); }
    }

    // filter

    function updateSearch () {
        var entries = [].slice.call(document.querySelectorAll(".entry"));
        entries.forEach(function (entry) {
            entry.style.display = entryMatchesQueries(entry) ? "block" : "none";
        });
    }

    function entryMatchesQueries (entry) {
        return Object.keys(queries).every(function (key) {
            var matcher = queryMatchers[key];
            return matcher ? matcher(entry, queries[key]) : true;
        });
    }

    var queryMatchers = {
        "author": function (entry, author) {
            return entry.getAttribute("data-author") == author;
        },
        "match": function (entry, regex) {
            return entry.innerText.search(new RegExp(regex)) >= 0;
        },
        "search": function (entry, string) {
            return entry.innerText.toLowerCase().indexOf(string.toLowerCase()) >= 0;
        },
    };


    // URL

    function updateURL () {
        window.history.replaceState({}, "", getQueryURL());
    }

    function getQueryURL () {
        var keys = Object.keys(queries);
        return "/favorites/" + (keys.length == 0 ? "" : ( "?" + keys.map(function (key) {
            return key + "=" + encodeURIComponent(queries[key]);
        }).join("&")));
    }


    // search field

    function searchChanged () {
        queries.search = document.getElementById("search").innerText;
        if (!queries.search.match(/\S/)) { delete queries.search; }
        updateURL();
        updateSearch();
    }


    // author link

    function authorClicked (e) {
        for (var el = e.target; el && el.getAttribute; el = el.parentNode) {
            var author = el.getAttribute("data-author");
            if (author) { setAuthor(author); e.preventDefault(); break; }
        }
    }

    function setAuthor (author) {
        queries.author = author;
        updateURL();
        updateSearch();
        window.scrollTo(0,0);
    }


    // clear link

    function toplinkClicked (e) {
        clearSearch();
        e.preventDefault();
    }

    function clearSearch () {
        document.getElementById("search").innerText = "";
        Object.keys(queries).forEach(function (key) { delete queries[key]; });
        updateURL();
        updateSearch();
    }
</script>
